################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EHubertgithubio/config/applicationhost.config
/.vs/EHubertgithubio/v17/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
